.hero{
    height: 30vh;
    color: black;
    display: flex;
    align-items: center ;
    justify-content: center;
    text-align: center;
}

.navbar{
    display: flex;
    width: 2000px;
    height: 200px;
    background: white;
}

.nav-item{
    display: flex;
    font-family: helvetica;
    padding-left: 13px;
}

.nav-link{
    font-size: 20px;
    color: #a10716;
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium';
}

p{
    color: white;
    font-family: 'Franklin Gothic Medium';
}

h2{
    color: white;
    font-family: 'Franklin Gothic Medium';
}

h3{
    color: black;
    font-family: 'Franklin Gothic Medium';
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a10716;
}

.mb-0{
    color: black;
}

.card-body{
    h5{ height: 70 px;

    }
}